@import "_variables.scss";
@import "_btn.scss";
@import "_cat.scss";
@import "_text-effect.scss";
@import "_bread.scss";
@import "_bali.scss";

.container {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
